# Java
*.class
*.jar

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Node dependencies
/frontend/node_modules/
/frontend/package-lock.json

# IntelliJ IDEA and editors
/.idea
*.iws
*.iml
*.ipr
.vscode/*
.c9/

# Gradle etc.
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings
out/
build/
coverage/
/dist
/tmp
/out-tsc
.gradle
!gradle/wrapper/gradle-wrapper.jar

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
