/* Import Material Theme */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Set up a default font */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
