<div class="register-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="register-form" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="logo">
            <img src="../../assets/croak.svg" alt="Croaker logo">
        </div>
        <div class="title">
            CREATE AN ACCOUNT
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" fxLayout="column"
              fxLayoutAlign="center center"
              novalidate>

            <mat-form-field class="register-input" hideRequiredMarker>
                <input matInput type="text" name="username" formControlName="username" placeholder="Username" required/>
            </mat-form-field>
            <mat-form-field class="register-input" hideRequiredMarker>
                <input matInput type="password" name="password" formControlName="password" placeholder="Password"
                       required/>
            </mat-form-field>

            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            <button class="submit" mat-raised-button [disabled]="!registerForm.valid || loading" color="primary">
                Register
            </button>
        </form>

        <div class="login" fxLayout="column" fxLayoutAlign="center center">
            <span>Already have an account?</span>
            <a class="link" [routerLink]="['/login']">Login</a>
        </div>
    </div>
</div>
